li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0px 10px;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 7px;
}

.strikeout{
    text-decoration: line-through;
    color: rgb(144, 144, 144);
}

.wish-list-item{
    display: flex;
    justify-content: space-between;
}

.wish-list-item button{
    background-color: red;
    color: red;
}