.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-top: 20px;
}

.products{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    cursor: pointer;
}